.menu {
  // display: flex;
  // justify-content: space-between;
  margin-bottom: 40px;
}

.menu__list {
  display: flex;
  width: 100%;
  color: $font-color;
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
  padding-bottom: 20px;
}

.menu__link {
  padding: 10px 10px 15px 10px;
  color: $font-color;
  text-transform: uppercase;
  position: relative;

  &:after {
    content: "";
    width: 10px;
    height: 10px;

    border-radius: 50% 50%;
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: $font-hover;
  }

  &:hover {
    color: $font-hover;
    cursor: pointer;

    &:after {
      display: block;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
