.more {
  background-color: #f5fffe;
  padding-bottom: 30px;
}

.more__title-1 {
  color: #0ca296;
}

.more__title-2 {
  color: #000000;
}

.more__title {
  &::after {
    background-color: #cbe7e4;
  }
}

.more__desc {
  color: $font-color;
}

.more__list {
  height: 100%;
  list-style: none;
  padding: 0 50px;
  margin: 0;
  display: grid;
  column-gap: 20px;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 300px 300px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px 320px;
  }
}

.more__item {
  display: grid;
}

.more__item--row {
  @media (min-width: $desktop-width) {
    grid-row: span 2;
  }
}

.more__item--column {
  @media (min-width: $desktop-width) {
    grid-column: span 2;
  }
}

.more__link {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.92) 100%
  );
}

.more__link-heading {
  font-size: 30px;
  line-height: 37px;
}
