.page-header {
  background-color: $white;
  padding: 0 50px;
}

.page-header__logo {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-header__img {
  max-width: 100%;
  height: auto;
}
