.page-header {
  padding: 0;
  position: relative;
  background-color: $white;
}

.page-header__logo {
  padding-left: 30px;
  width: 120px;
  height: 56px;

  @media (min-width: $desktop-width) {
    width: 187px;
    height: 96px;
  }
}

.page-header__img {
  max-width: 100%;
  height: auto;
}
