.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 504px;
  grid-gap: 10px;
  margin-bottom: 40px;
}

.photos__image {
  border-radius: 10px;
  box-sizing: border-box;
  background-size: cover;
  width: 100%;
  height: auto;

  &--big {
    grid-column: span 2;
  }
}
